.w-datepicker__popover {
  --_popover-border-radius: var(--popover-border-radius, 8px);
  --_popover-filter: var(--popover-filter, drop-shadow(rgba(64, 64, 64, .23) 0 6px 8px) drop-shadow(rgba(64, 64, 64, .19) 0 10px 20px));
  --_popover-margin: 6px 0 0 0;
  --_popover-color: var(--popover-color, var(--w-s-color-text-inverted));
  --_popover-background: var(--popover-background, var(--w-s-color-background));

  outline: none;

  color: var(--_popover-color);
  background-color: var(--_popover-background);
  border-radius: var(--_popover-border-radius);
  filter: var(--_popover-filter);
}