.w-datepicker__navigation {
  position: relative;
}

.w-datepicker__navigation__button--prev {
  position: absolute;
  left: 16px;
  top: 12px;
}

.w-datepicker__navigation__button--next {
  position: absolute;
  right: 16px;
  top: 12px;
}
